[build-system]
requires = ["setuptools>=46.1.0", "setuptools_scm>=6.2", "setuptools-rust>=1.5.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/warden/_version.py"
